*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.main{
    background-image: url(./pexels-alleksana-4113915.jpg);
    width:100%;
    height:300px;
    background-size: cover;
    
}

.content{
   
    width:100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
 
    padding-left: 12px;
    padding-right: 12px;
}
.container{
    background-color: rgb(186, 182, 182);
}
.container2{
    width:100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 15px;

}



#flag{
    height:13px;
}
.grouplang{
    display: flex;
    flex-direction: row;
 
}
.midhead{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
color: green;
}
#menu,#cart,#fav{
    background-color: transparent;
    color:green;
}
#logofont{
    font-size: larger;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    border-bottom: 1px solid rgb(175, 168, 168);
}
#super,#lang{
font-size: 15px;
}
.iconlist{
 
   width: 120px;
   gap: 21px;
   display: flex;
   flex-direction: row;

}

nav{
     display: none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    color:white;
    padding-bottom: 1rem;
    font-size:x-large
}

.searchdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:400px;
    border: 3px solid green;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 30px
}
input{
    width:100%;
    border:none;
}



@media only screen and (max-width: 600px){
    .searchdiv{
        display: none;
       }
       #location{
       visibility: hidden;
       }
   
   
}


@media only screen and (min-width:768px){

    .iconlist{
        display: none;
    }
    nav{
        display: block;
    }
   nav ul{
    display:flex;
    flex-direction: row;
    gap: 80px;
   }
   nav ul li {
    list-style-type: none;
    color: rgb(18, 156, 39);
   }
   
}





@media only screen and (min-width:992px) {

  
}

@media only screen and (min-width:1200px){
h2{
    font-size: 60px;
}
.main{
    height: 600px;
    background-size: cover;
}

}

#fbtn{
    background-color: #00b377;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.locationmerge{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: 2px double green;
    padding: 5px;
    border-radius: 6px;
}
#locationicon{
    color: green;
}